<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
     
        
         <listener class-name="salesForce.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
         

 </listeners>

  <test name="SalesFroce">
    <classes>
      <class name="salesForce.HomePage"/>
      <class name="salesForce.CreateAccount"/>
          </classes>
      </test>
     
   <!-- Test -->
</suite> <!-- Suite -->
